<%= form_with model: @load do |f| %>
  <p><%= f.label :commodity %><br><%= f.text_field :commodity %></p>
  <p><%= f.label :weight_lbs %><br><%= f.number_field :weight_lbs %></p>
  <p><%= f.label :pickup_location %><br><%= f.text_field :pickup_location, placeholder: "Des Moines, IA" %></p>
  <p><%= f.label :dropoff_location %><br><%= f.text_field :dropoff_location, placeholder: "Chicago, IL" %></p>
  <p><%= f.label :deadline %><br><%= f.datetime_field :deadline %></p>
  <p><%= f.submit %></p>
<% end %>
