<%= form_with(model: @load, local: true) do |f| %>
  <% if @load.errors.any? %>
    <div class="alert"><%= @load.errors.full_messages.to_sentence %></div>
  <% end %>

  <div>
    <%= f.label :commodity %><br>
    <%= f.text_field :commodity, required: true %>
  </div>

  <div>
    <%= f.label :weight_lbs, "Weight (lbs)" %><br>
    <%= f.number_field :weight_lbs, min: 0, step: 100, required: true %>
  </div>

  <div>
    <%= f.label :pickup_location %><br>
    <%= f.text_field :pickup_location, placeholder: "City, ST or address", required: true %>
  </div>

  <div>
    <%= f.label :dropoff_location %><br>
    <%= f.text_field :dropoff_location, required: true %>
  </div>

  <div>
    <%= f.label :deadline %><br>
    <%= f.datetime_local_field :deadline %>
  </div>

  <div style="margin-top:.5rem;">
    <%= f.submit %>
  </div>
<% end %>
