<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rails 8 Template" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<nav style="padding:.75rem 1rem; border-bottom:1px solid #eee; display:flex; gap:1rem; align-items:center; justify-content:space-between;">
  <div>
    <%= link_to "RigRadar", root_path %>

    <% if driver_signed_in? %>
      <!-- Signed-in navigation -->
      &nbsp; | <%= link_to "Loads", loads_path %>
      &nbsp; | <%= link_to "Rest Areas", rest_areas_path %>
      &nbsp; | <%= link_to "Weigh Stations", weigh_stations_path %>
    <% else %>
      <!-- Public navigation -->
      &nbsp; | <%= link_to "About", (respond_to?(:about_path) ? about_path : "#") %>
    <% end %>
  </div>

  <div>
    <% if driver_signed_in? %>
      <%= link_to "Account", edit_driver_registration_path %>
      <%= button_to "Sign out", destroy_driver_session_path, method: :delete, form: { style: "display:inline" } %>
    <% else %>
      <%= link_to "Sign in",  new_driver_session_path %>
      <%= link_to "Sign up",  new_driver_registration_path %>
    <% end %>
  </div>
</nav>


<%= yield %>

  </body>
</html>
